body {
  margin: 0;
  padding: 25px 45px;
  font-family: 'Bigelow Rules', cursive;
  font-family: 'Open Sans', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a{
  text-decoration: none;
  color: black;
}

*{
  box-sizing: border-box;
}